.card {
  background-color: $dark-saturated-blue;
  border-radius: $border-radius-8;

  &__image-container {
    position: relative;
  }

  &__image {
    border-radius: $border-radius-8 $border-radius-8 0 0;
    display: block;
    object-fit: cover;
  }

  &__image-overlay {
    align-items: center;
    background-color: $soft-violet;
    display: flex;
    mix-blend-mode: multiply;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
