.card {
  background-color: $dark-saturated-blue;
  border-radius: $border-radius-8;

  @include respond-to($breakpoint-desktop-small) {
    display: flex;
    flex-direction: row-reverse;
    max-height: 27.875rem;
    max-width: 69.375rem;
  }

  &__image-container {
    position: relative;

    @include respond-to($breakpoint-desktop-small) {
      flex-basis: 50%;
    }
  }

  &__image {
    border-radius: $border-radius-8 $border-radius-8 0 0;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include respond-to($breakpoint-desktop-small) {
      border-radius: 0 $border-radius-8 $border-radius-8 0;
    }
  }

  &__image-overlay {
    align-items: center;
    background-color: $soft-violet;
    border-radius: $border-radius-8 $border-radius-8 0 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include respond-to($breakpoint-desktop-small) {
      border-radius: 0 $border-radius-8 $border-radius-8 0;
    }

    &--light {
      background-color: hsl(0, 0%, 100%, 0.25);
      mix-blend-mode: hard-light;
    }

    &--violet {
      mix-blend-mode: multiply;
      background-color: $soft-violet;
    }
  }

  &__content {
    @include flex-column($space-38);
    padding: $space-40 $space-30;
    text-align: center;

    @include respond-to($breakpoint-desktop-small) {
      flex-basis: 50%;
      justify-content: space-between;
      text-align: left;
    }

    @include respond-to($breakpoint-desktop-large) {
      padding: $space-72 $space-72 $space-64 $space-72;
    }
  }

  &__header {
    @include flex-column($space-16);

    @include respond-to($breakpoint-desktop-small) {
      @include flex-column($space-26);
    }
  }

  &__header-title {
    font-size: $font-size-28;
    font-weight: 700;
    line-height: $line-height-115;

    @include respond-to($breakpoint-desktop-large) {
      font-size: $font-size-36;
    }

    &--accent {
      color: $soft-violet;
    }
  }

  &__header-text {
    color: $white-75;
    font-size: $font-size-15;
    font-weight: 400;
    line-height: $line-height-165;

    @include respond-to($breakpoint-desktop-small) {
      max-width: 22.5rem;
    }
  }

  &__stats {
    @include flex-column($space-28);

    @include respond-to($breakpoint-tablet) {
      flex-direction: row;
      justify-content: center;
    }

    @include respond-to($breakpoint-desktop-small) {
      justify-content: flex-start;
      max-width: 23.125rem;
    }

    @include respond-to($breakpoint-desktop-large) {
      justify-content: space-between;
    }
  }

  &__stat-container {
    @include flex-column($space-8);
  }

  &__stat-header {
    font-size: $font-size-24;
    font-weight: 700;
    letter-spacing: $letter-spacing_08;
  }

  &__stat-text {
    color: $white-60;
    font-size: $font-size-12;
    font-weight: 400;
    letter-spacing: $letter-spacing_08;
    text-transform: uppercase;
  }
}
